{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_tittle %}Bienvenidos | {{ block.super }}{% endblock %}

<style>
{% block style %}
.jumbotron {
	background-color: #c8a0ff !important;
	color: #ffffffed !important;
}

.fa-5x {
	font-size: 6em !important;
}

{% endblock %}    
</style>

{% block jumbotron %}

{% if request.user.is_staff %}
{{ queryset }}
{% else %}

<div class="jumbotron">
<div class="container">
<div class='row'>
	<div class='col-sm-6'>
        <h2><strong>Probar Django 1.10</strong></h2>
        <p>Un proyecto para principiantes. El objetivo es construir una página web simple a la par que elegante en muy poco tiempo.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Únete &raquo;</a>
        </p>
	</div>
<div class='col-sm-6'><iframe width="560" height="315" src="https://www.youtube.com/embed/UsnRQJxanVM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
</div>
</div>
{% endif %}
{% endblock %}

{{ el_titulo }}<br/>
{{ request.user }}<br/>
<hr/>
<br/>

{% block content %}
{% if request.user.is_staff %}
{% else %}
<div class="row">
	<div class="col-sm-3 col-xs-12 pull-right">
		{% if not user.is_authenticated %}
		<p class="lead text-align-center">Subscrito</p>
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input class="btn btn-primary" type="submit" value="Inscribirse"/>
		</form>
		{% else %}
		<p class="lead text-align-center">{{ titulo }} <br/><br/><br/><i class="far fa-hand-spock fa-5x"></i></p>
		{% endif %}

	</div>
<div class="col-sm-3">
	<p class="lead text-align-center">Creado con Django &amp; Bootstrap</br> <i class="fas fa-american-sign-language-interpreting"></i>

</p>
</div>
<div class="col-sm-3">
	<p class="lead text-align-center">Y con mucho amor, claro.<i class="fab fa-angrycreative fa-5x fa-fw"></i></p>


</div>
<div class="col-sm-3">
	<p class="lead text-align-center">Código abierto, siempre.</p><img src="{% static 'img/avengers.jpg' %}">
</div>
</div>	
</hr>
{% endif %}
{% endblock %}