body {
  min-height: 1000px;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-default {
	background-color: #c8a0ff !important;
	border-color: #c8a0ff !important;
}

.navbar-default .navbar-brand:hover {
	color: #FFF;
}